	body {
		padding-top: 4.5rem;
		overflow-y: overlay !important;
		overflow-x: hidden !important;
	}
	::-webkit-scrollbar {
		width: 5px;
    height: 5px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: rgba(136, 136, 136, 0.7);
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555; 
	}
	.nft_cards {
		width:165px !important;
		max-height:265px !important;
	}
	.rarity {
		width:44px !important;
		height:44px !important;
	}
	.card_used {
		opacity:0.6;
	}
	._ {
		display: none !important;
	}
	.N, .CO {
		background: linear-gradient(to bottom, #d3d3d3 0%, #838383 100%);
	}
	.R, .RA {
		background: linear-gradient(to bottom, #24c8c0 0%, #008080 100%);
	}
	.SR, .EP {
		background: linear-gradient(to bottom, #87CEFA 0%, #4682B4 100%);
	}
	.SSR, .LE {
		background: linear-gradient(to bottom, #ebadeb 0%, #b658b3 100%);
	}
	.UR, .RE, .U {
		background: linear-gradient(to bottom, #FA8072 0%, #bb4848 100%);
	}
	.USR, .L {
		background: linear-gradient(to bottom, #FFD700 0%, #DAA520 100%);
	}
	.USSR {
		background: linear-gradient(to bottom, #fea601 0%, #b3881a 100%);
		font-size: 1rem !important;
		padding-top: 0.5rem !important;
	}
	.form-check-input:checked {
		background-color: #6c757d;
		border-color: #6c757d;
	}
